.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #F2F2F3;
}

.item:last-child {
    border-bottom: none;
}

.img {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    word-wrap: break-word;
}

.weight {
    color: #B1B1B1;
    padding-bottom: 6px;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 84px;
    height: 40px;
    margin-left: auto;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 34px;
    height: 40px;
    border: none;
    background-color: #F2F2F3;
   
}

.plus,
.minus {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    height: 40px;
    background-color: #F2F2F3;
    cursor: pointer;
}

.minus {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.plus {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}