@font-face {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/Nunito-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Nunito-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Nunito-Regular.ttf') format('ttf');
}

body {
  margin: 0 auto;
  background-color: #F9F9F9;
  color: #000000;
  font-family:'Nunito', sans-serif ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1290px;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 0;
  cursor: pointer;
  background-color: inherit;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
